
root { 
    display: block;
}

#login
{
    margin-top: 8em;  
}

#ftable {
    margin:1em;
    padding-left: 3em;
}

.form
{
    text-align: right;    
}

#info 
{
    text-align: left;
    margin-top: 5em;
    padding-left: 1em;
}
#title
{
    font-weight: bold;
}

