/* 
    Document   : profile
    Created on : Apr 28, 2012, 4:44:15 PM
    Author     : sahar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#tabs
{
    margin-top: 1em;
    
}

#tabs ul 
{
    margin-left: 10em;
}
.tabList
{ 
    list-style: none; 
    float: left; 
    padding: 0.5em;   
}

.tab
{ 
    text-decoration: none;
}

#edit 
{
    margin-top: 0em;
    padding-top: 2em;
    margin-left: 30em;
}
#edit a
{
    text-decoration: none;    
}


#personal
{
    height:300px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10em;
    background-color: #D9D9D9;
    clear: left;
}
#team 
{
    height:300px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10em;
    background-color: #D9D9D9;
    clear: left;
}